In [ ]:
import pandas as pd
df = pd.read_csv("/content/instagram_reach.csv")
df.head()

,Unnamed: 0,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
0,0,1,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11 hours,139
1,1,2,drgorillapaints,We all know where it’s going. We just have to ...,880,#deck .#mac #macintosh#sayhello #apple #steve...,2 hours,23
2,2,3,aitrading_official,Alexander Barinov: 4 years as CFO in multinati...,255,#whoiswho #aitrading #ai #aitradingteam#instat...,2 hours,25
3,3,4,opensourcedworkplace,sfad,340,#iot #cre#workplace #CDO #bigdata #technology#...,3 hours,49
4,4,5,crea.vision,Ever missed a call while your phone was chargi...,304,#instamachinelearning #instabigdata#instamarke...,3 hours,30

In [ ]:
df.shape

(100, 8)

In [ ]:
df['Time since posted'] = df['Time since posted'].str.replace(' hours',"")

In [ ]:
df['Time since posted'] = df['Time since posted'].astype(int)

In [ ]:
import numpy as np
x = np.array(df[['Followers']])
y = np.array(df[['Time since posted','Likes']])

In [ ]:
# linear regression for multioutput regression
from sklearn.datasets import make_regression
from sklearn.linear_model import LinearRegression

model = LinearRegression()
# fit model
model.fit(x, y)
# make a prediction
yhat = model.predict([[340]])
# summarize prediction
print(yhat[0])

[ 2.93737351 37.49034433]